{% extends 'base.html' %}
{% block conteudo %}
      <div class="jumbotron text-center bg-secondary text-white">
        <h1 class="display-5">Héric Moura</h1>
        <p class="lead">Poemas, programas, desenhos e memória</p>
      </div>
      
      <div class="container">
        <div class="row">
                {% for poem in poems %}
          <div class="col m-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ poem.titulo }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ poem.autor }}</h6>
                <p class="card-text">{{ poem.exceto }}</p>
                <small class="data">{{ poem.data_publicacao }}</small>
                <a href="{{ poem.get_absolute_url }}" class="card-link">Ler poema</a>
              </div>            
            </div>
            {% endfor %}
          </div>
          <!--  second card  -->
        </div>
      </div>
    {% endblock conteudo %}