{% extends 'base.html' %}
{% block conteudo %}

<div class="container">
  <div class="row">

                {% for poem in poems %}
          <div class="col m-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h1 class="card-title">{{ poem.titulo }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">{{ poem.autor }}</h6>
                {% if poem.image %}
                  <img src="{{ poem.image.url }}" width="250px" alt="">
                {% endif %}
                <br>
                <br>
                <small class="data">{{ poem.data_publicacao }}</small>
                <br>
                <a href="{{ poem.get_absolute_url }}" class="card-link">Ler notícia</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endblock conteudo %}