{% extends 'base.html' %}
{% block conteudo %}
      <div class="container">
        <h1>Sobre o jornal</h1>
          <p>
            Uma visão crítica sobre a nossa realidade
            <br>
            Nasce um novo “Jornal Santista”. Ele será um meio diferente de informar e debater a realidade da Baixada Santista e as questões nacionais e internacionais que afetam as nossas vidas.
            <br>
            O Jornal Santista será um veiculo com opinião e objetividade. Teremos como principal objetivo nos diferenciar das grandes mídias impressas, de internet, televisivas e das rádios que informam e opinam, via de regra, tendendo a favorecer a visão dos ricos e poderosos da região.
            <br>
            Assim, o “Jornal Santista” terá como elemento fundamental analisar a realidade sob a ótica dos trabalhadores e trabalhadoras, que constroem de fato nossa cidade e toda riqueza da região e do mundo.
            <br>
            O novo Jornal Santista também fará denúncias dos problemas que afligem nossas vidas, discutindo de forma profunda sua origem, os responsáveis e meios de solucionarmos as situações. Divulgaremos também fotos e vídeos de relevância pública, enviados por nossos seguidores.
            <br>
            O nome Jornal Santista se tornou conhecido no passado pelo humor, e pretendemos manter espaço para a ironia de crítica social, como também divulgar e promover debates sobre política, cultura e esporte. Possuímos igualmente como compromisso a tarefa de combater as visões racistas, machistas, homofóbicas e higienistas, que ainda persistem no humor, cenário cultural e esportivo.
            <br>
            Nossa equipe se dedicará ao máximo para construir este importante e necessário instrumento de comunicação e esperamos contar com sua participação.
            <br>
            Curta nossa página e nos ajude a divulgar este projeto.
      </div>
{% endblock conteudo %}